/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Modern Slide In
Version: 1.3
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/modern-slide-in/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2013 unless otherwise stated.
*/
/* CSS RESET - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
.sequence-theme {
  /* this container is just to ensure the background color stretches all the way across on bigger screens */
 }

#sequence {
  margin: 0 auto;
  position: relative;
  width: 100%;

  background: #222;
  background-image: linear-gradient(bottom, #333, #111);
  background-image: -o-linear-gradient(bottom, #333, #111);
  background-image: -moz-linear-gradient(bottom, #333, #111);
  background-image: -webkit-linear-gradient(bottom, #333, #111);
  background-image: -ms-linear-gradient(bottom, #333, #111);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222');

  -moz-box-shadow: 0 0 20px #111;
  -webkit-box-shadow: 0 0 20px#111;
  box-shadow: 0 0 20px #111;

  color: white;
  font-size: 0.625em;
  margin: 0 auto;
  position: relative;
  height: 700px;
}
  #sequence > .sequence-canvas {
    height: 100%;
    width: 100%;
    }
    #sequence > .sequence-canvas > li {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: -50%; }
      #sequence > .sequence-canvas > li img {
        height: 96%; }
    #sequence > .sequence-canvas li > * {
      position: absolute;
      /* only cause the left and opacity properties to transition */
      -webkit-transition-property: left, opacity;
      -moz-transition-property: left, opacity;
      -ms-transition-property: left, opacity;
      -o-transition-property: left, opacity;
      transition-property: left, opacity; }

.sequence-next,
.sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-weight: bold;
  padding: 10px 15px;
  position: absolute;
  top: 30%;
  z-index: 20;
  height: 75px;
  margin-top: -47.5px; }

.sequence-pause {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  z-index: 1000; }

.sequence-paused {
  opacity: 0.3; }

.sequence-prev {
  left: 0%; }

.sequence-next {
  right: 0%; }

.sequence-prev img,
.sequence-next img {
  height: 100%;
  width: auto; }

#sequence-preloader {
  background: #d9d9d9; }

.sequence-pagination {
  left:160px;
  top: 20px;
  display: none;
  position: absolute;
  z-index: 50;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }
  .sequence-pagination li {
    display: inline-block;
    *display: inline;
    /* Hack for IE7 and below as they don't support inline-block */
    height: 140px; }
    .sequence-pagination li img {
      cursor: pointer;
      opacity: 0.5;
      -webkit-transition-duration: 1s;
      -moz-transition-duration: 1s;
      -ms-transition-duration: 1s;
      -o-transition-duration: 1s;
      transition-duration: 1s;
      -webkit-transition-property: margin-bottom, opacity;
      -moz-transition-property: margin-bottom, opacity;
      -ms-transition-property: margin-bottom, opacity;
      -o-transition-property: margin-bottom, opacity;
      transition-property: margin-bottom, opacity; }
    .sequence-pagination li img:hover {
      margin-bottom: 4px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
  .sequence-pagination li.current img {
    opacity: 1; }

h2 {
  color: white;
  font-weight: bold;
  text-transform: uppercase; }

h3 {
}

.sequence-next,
.sequence-prev {
  position: absolute;
  opacity: 0.6;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.sequence-next:hover,
.sequence-prev:hover {
  opacity: 1;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }

.title {
  left: 0px;
  bottom: -120px;
  font-size: 3.4em;
  opacity: 0;
  z-index: 50; }

.animate-in .title {
  left: 70px;
  bottom: -120px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.animate-out .title {
  left: 0px;
  bottom: -120px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.subtitle {
  left: 0px;
  bottom: -150px;
  color: black;
  font-size: 2em;
  width: 50%;
  opacity: 0;}

.animate-in .subtitle {
  left: 70px;
  bottom: -150px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.animate-out .subtitle {
  left: 0px;
  bottom: -150px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.portfolio-preview {
  left: 0px;
  bottom: -75px;
  opacity: 0;
  position: relative;
  height: auto;
  height: 383px !important;
  width: 680px; }

.animate-in .portfolio-preview {
  left: 160px;
  bottom: -75px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.animate-out .portfolio-preview {
  left: 0px;
  bottom: -75px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.description {
  left: 0px;
  top: 860px;
  font-size: 2em;
  opacity: 0;
  height: 170px; 
  line-height: 1.5em; 
  list-style: initial;
}

.animate-in .description {
  left: 70px;
  top: 860px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.animate-out .description {
  left: 0px;
  top: 860px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.description-image {
  opacity: 0;
  left: 800px;
  top: 800px;
  height: auto !important;
  max-height: 200px;
  max-width: 250px;
  list-style: initial;
}

.animate-in .description-image {
  
  left: 700px;
  top: 800px;
  opacity: 1;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.animate-out .description-image {
  left: 800px;
  top: 800px;
  opacity: 0;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s; }



@media only screen and (min-width: 992px) {
  #sequence .title {
    width: 50%; } }
@media only screen and (max-width: 838px) {
  #sequence {
    height: 550px; }
    #sequence .portfolio-preview {
      max-height: 530px !important;
      width: auto; } }
@media only screen and (max-width: 768px) {
  #sequence {
    height: 500px; }
    #sequence .title {
      font-size: 2.8em; }
    #sequence .subtitle {
      font-size: 1.6em; }
    #sequence .sequence-next,
    #sequence .sequence-prev {
      height: 60px;
      margin-top: -40px; }
    #sequence .portfolio-preview {
      max-height: 480px !important;
      width: auto; } }
@media only screen and (max-width: 568px) {
  #sequence .portfolio-preview {
    left: 50%;
    min-width: 40%;
    /*prevents the portfolio-preview from shrinking when the browser is resized*/
    width: 40%; }
  #sequence .animate-in .portfolio-preview {
    left: 50%;
    margin-left: -20%; }
  #sequence .animate-out .portfolio-preview {
    left: 50%;
    margin-left: -20%; }
  #sequence .title {
    background: #a1a1a1;
    background: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 100%;
    padding: 4%;
    bottom: -50%;
    width: 100%;
    z-index: 10; }
  #sequence .animate-in .title {
    left: 0%; }
  #sequence .animate-out .title {
    left: -100%; }
  #sequence .subtitle {
    visibility: hidden; }
  #sequence .sequence-pagination {
    bottom: 40px; }
    #sequence .sequence-pagination li img {
      height: 100px; } }
@media only screen and (max-width: 518px) {
  #sequence {
    height: 450px; } }
@media only screen and (max-width: 468px) {
  #sequence {
    height: 415px; }
    #sequence .sequence-pagination {
      opacity: 0;
      visibility: hidden; } }
@media only screen and (max-width: 418px) {
  #sequence {
    height: 375px; } }
@media only screen and (max-width: 368px) {
  #sequence {
    height: 325px; }
    #sequence .title {
      font-size: 2.2em; } }
@media only screen and (max-width: 320px) and (orientation: portrait) {
  /*iphone portrait*/
  #sequence {
    height: 320px; }
    #sequence .portfolio-preview {
      min-width: 45%;
      width: 45%; }
    #sequence .animate-in .portfolio-preview {
      margin-left: -22.5%; }
    #sequence .animate-out .portfolio-preview {
      margin-left: -22.5%; } }
@media only screen and (min-width: 321px) and (max-width: 480px) and (orientation: landscape) {
  #sequence {
    height: 260px; }
    #sequence .portfolio-preview {
      min-width: 24%;
      width: 24%; }
    #sequence .animate-in .portfolio-preview {
      left: 17.5%;
      margin-left: 0; }
    #sequence .animate-out .portfolio-preview {
      left: 17.5%;
      margin-left: 0; }
    #sequence .sequence-pagination {
      right: 17.5%; } }
